In [7]:
import numpy as np
import pandas as pd

In [8]:
flats = pd.read_csv('C:/Users/SONY/Machine_Learning_Project/Processed_Data/flats_cleaned.csv')
houses = pd.read_csv('C:/Users/SONY/Machine_Learning_Project/Processed_Data/house_cleaned.csv')

In [9]:
df = pd.concat([flats,houses],ignore_index=True)

In [10]:
df = df.sample(df.shape[0],ignore_index=True)

In [11]:
df.head()

,society,property_type,price,price_per_sqft,areaWithType,area,bedRoom,bathroom,balcony,additionalRoom,...,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,property_name
0,emaar palm gardens,flat,1.75,9210.0,Super Built up area 1900(176.52 sq.m.)Built Up...,1900.0,3,3,3,servant room,...,6.0,West,1 to 5 Year Old,"[""V'Lante Mall"", 'NH 48 Gurugram', 'iGrow Mont...",This 3 bhk apartment is available for sale in ...,"['3 Wardrobe', '8 Fan', '1 Exhaust Fan', '1 St...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area5 out of 5', 'Construction4 out of...",V69525180,NaN
1,eros wembley estate,flat,1.40,10174.0,Super Built up area 1376(127.83 sq.m.),1376.0,3,3,2,store room,...,9.0,East,1 to 5 Year Old,"['Sri Radhe Krishna Temple', 'Standard charter...",Eros wembley estate is one of gurgaon's most s...,"['2 Wardrobe', '1 Water Purifier', '5 Fan', '1...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4 out of...",K69325724,NaN
2,ss the leaf,flat,2.13,7574.0,Super Built up area 2812(261.24 sq.m.)Built Up...,2812.0,4,4,3,not available,...,6.0,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Ss is one of the most popular destination for ...,"['6 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou...",K70087544,NaN
3,international city by sobha phase 2,house,6.25,10035.0,Plot area 692(578.6 sq.m.),6228.0,5,7,3+,"pooja room,study room,servant room,store room",...,3.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",Its a 5bhk 692 duplex villa in sobha internati...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5...",NaN,5 Bedroom House for sale in Sector 109 Gurgaon
4,ss the coralwood,flat,1.10,4857.0,Super Built up area 1750(162.58 sq.m.),2265.0,3,3,2,not available,...,9.0,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'Sector 84 Road', 'Dwarka...",Ss the coralwood is offering a 3bhk apartment ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area4 out of 5', 'Construction4 out of...",H66415758,NaN

In [12]:
df.to_csv('C:/Users/SONY/Machine_Learning_Project/Processed_Data/gurgaon_properties.csv',index=False)